<form accept-charset="UTF-8" action="https://getsimpleform.com/messages?form_api_token=7cef49fcc573f77c5e6ab8f48a48f725" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <!-- <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' /> -->
  <input type="email" name="email" placeholder="Votre adresse courriel"><br />
  <input type="text" name="name" placeholder="Votre nom"><br />
  <textarea name="message" rows="6" cols="50" placeholder="Votre message..."></textarea><br />
  <input type="hidden" name="utf8" value="✓">
  <button type="submit">Envoyer</button>
</form>
